asgiref
attrs
Django
django-debug-toolbar
djangorestframework
djangorestframework_simplejwt
dotenv
drf-spectacular
flake8
flake8-quotes
flake8-variables-names
inflection
jsonschema
jsonschema-specifications
mccabe
pep8-naming
pillow
psycopg
psycopg2-binary
pycodestyle
pyflakes
PyJWT
python-dotenv
PyYAML
referencing
rpds-py
setuptools
sqlparse
uritemplate
